<div class="row mt-4">
  <div class="col-9">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @followed_friends.each do |friend| %>
        <tr>
          <th scope="row"><%= friend.first_name %></th>
          <td><%= friend.last_name %></td>
          <td><%= friend.email %></td>
          <td><%= link_to "View profile", user_path(friend), class: "btn btn-sm btn-success" %>
            <%= button_to "Stop following", friendship_path(friend), method: :delete, onclick: "return confirm('Are you sure?')", class: "btn btn-sm btn-warning", form: {style: 'display:inline-block;'} %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>